*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

.header-container{
    background-color: var(--primary-color);
    box-shadow: 0 1px 15px #272727;
}

.header{
    max-width: 1200px;
    margin: auto;
    display:flex;
    justify-content: space-between;
    min-height:3rem;
    align-items: stretch;
}

.logo-wrapper{
    display:flex;
    align-items: center;
    gap:20px;
}

.header-logo-40years{
    width:70px;
}

.header-img-logo{
    max-width:180px;
}
